## CitiBike Data Cleaning

In [21]:
import pandas as pd
import numpy as np
import glob

In [2]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2013"
filesList = glob.glob(path + "/*.csv")
year13 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

    year13 = pd.concat(list_, sort=False)
    year13.dropna(axis = 1, how ='all', thresh=None, subset=None, inplace = True)

In [204]:
year13.shape

(5037185, 15)

In [205]:
year13.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                  object
gender                       int64
dtype: object

In [206]:
for col in ['start station id', 'end station id']:
    year13[col] = year13[col].astype('float64')
    year13['birth year'] = pd.to_numeric(year13['birth year'], errors='coerce').fillna(0)
    year13['birth year'] = year13['birth year'].astype(np.int64)

In [207]:
year13.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164.0,E 47 St & 2 Ave,40.753231,-73.970325,504.0,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,0,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388.0,W 26 St & 10 Ave,40.749718,-74.002950,459.0,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,0,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293.0,Lafayette St & E 8 St,40.730287,-73.990765,237.0,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531.0,Forsyth St & Broome St,40.718939,-73.992663,499.0,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,0,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382.0,University Pl & E 14 St,40.734927,-73.992005,410.0,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [208]:
year13.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [209]:
year13.to_csv("/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/files/df_citibike2013.csv")

In [12]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2014"
filesList = glob.glob(path + "/*.csv")
year14 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

year14 = pd.concat(list_, sort=False)
year14.dropna(axis = 1, how ='all', thresh=None, subset=None, inplace = True)

In [13]:
year14.shape

(8081216, 15)

In [212]:
year14.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1027,10/1/2014 00:00:27,10/1/2014 00:17:34,479,9 Ave & W 45 St,40.760193,-73.991255,540,Lexington Ave & E 26 St,40.741473,-73.983209,21376,Subscriber,1977,1
1,534,10/1/2014 00:00:36,10/1/2014 00:09:30,417,Barclay St & Church St,40.712912,-74.010202,417,Barclay St & Church St,40.712912,-74.010202,16086,Subscriber,1974,2
2,416,10/1/2014 00:00:42,10/1/2014 00:07:38,327,Vesey Pl & River Terrace,40.715338,-74.016584,415,Pearl St & Hanover Square,40.704718,-74.009260,16073,Subscriber,1990,1
3,428,10/1/2014 00:00:50,10/1/2014 00:07:58,515,W 43 St & 10 Ave,40.760094,-73.994618,447,8 Ave & W 52 St,40.763707,-73.985162,18635,Subscriber,1966,1
4,281,10/1/2014 00:01:08,10/1/2014 00:05:49,497,E 17 St & Broadway,40.737050,-73.990093,537,Lexington Ave & E 24 St,40.740259,-73.984092,20203,Subscriber,1979,1

In [14]:
year14.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                  object
gender                       int64
dtype: object

In [15]:
for col in ['start station id', 'end station id']:
    year14[col] = year14[col].astype('float64')
    year14['birth year'] = pd.to_numeric(year14['birth year'], errors='coerce').fillna(0)
    year14['birth year'] = year14['birth year'].astype(np.int64)

In [16]:
year14.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [17]:
year14.to_csv("/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/files/df_citibike2014.csv")

In [217]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2015"
filesList = glob.glob(path + "/*.csv")
year15 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

year15 = pd.concat(list_, sort=False)
year15.dropna(axis = 1, how ='all', inplace = True)

In [218]:
year15.shape

(9937969, 15)

In [219]:
year15.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,732,7/1/2015 00:00:03,7/1/2015 00:12:16,489,10 Ave & W 28 St,40.750664,-74.001768,368,Carmine St & 6 Ave,40.730386,-74.002150,18669,Subscriber,1970.0,1
1,322,7/1/2015 00:00:06,7/1/2015 00:05:29,304,Broadway & Battery Pl,40.704633,-74.013617,3002,South End Ave & Liberty St,40.711512,-74.015756,14618,Subscriber,1984.0,1
2,790,7/1/2015 00:00:17,7/1/2015 00:13:28,447,8 Ave & W 52 St,40.763707,-73.985162,358,Christopher St & Greenwich St,40.732916,-74.007114,18801,Subscriber,1992.0,1
3,1228,7/1/2015 00:00:23,7/1/2015 00:20:51,490,8 Ave & W 33 St,40.751551,-73.993934,250,Lafayette St & Jersey St,40.724561,-73.995653,19137,Subscriber,1990.0,1
4,1383,7/1/2015 00:00:44,7/1/2015 00:23:48,327,Vesey Pl & River Terrace,40.715338,-74.016584,72,W 52 St & 11 Ave,40.767272,-73.993929,15808,Subscriber,1988.0,1

In [220]:
for col in ['start station id', 'end station id']:
    year15[col] = year15[col].astype('float64')
    year15['birth year'] = pd.to_numeric(year15['birth year'], errors='coerce').fillna(0)
    year15['birth year'] = year15['birth year'].astype(np.int64)

In [221]:
year15.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [222]:
year15.to_csv("/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/files/df_citibike2015.csv")

In [11]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2016"
filesList = glob.glob(path + "/*.csv")
year16 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

year16 = pd.concat(list_, sort=False)

In [12]:
year16.shape

(13845655, 30)

In [13]:
names = year16.columns.get_values()

In [14]:
names

array(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID',
       'User Type', 'Birth Year', 'Gender', 'tripduration', 'starttime',
       'stoptime', 'start station id', 'start station name',
       'start station latitude', 'start station longitude',
       'end station id', 'end station name', 'end station latitude',
       'end station longitude', 'bikeid', 'usertype', 'birth year',
       'gender'], dtype=object)

In [15]:
header= ['tripduration','starttime','stoptime','start station id','start station name',
          'start station latitude', 'start station longitude','end station id','end station name',
          'end station latitude', 'end station longitude','bikeid','usertype', 'birth year','gender']

In [17]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2016"
filesList = glob.glob(path + "/*.csv")
year16 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, names=header,skiprows=[0],low_memory=False)

    list_.append(df)
year16 = pd.concat(list_, sort=False)



for col in ['start station id', 'end station id']:
    year16[col] = year16[col].astype('float64')
    year16['birth year'] = pd.to_numeric(year16['birth year'], errors='coerce').fillna(0)
    year16['birth year'] = year16['birth year'].astype(np.int64)

In [18]:
year16.shape

(13845655, 15)

In [19]:
year16.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [20]:
year16.to_csv("/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/files/df_citibike2016.csv")

In [ ]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2017"

filesList = glob.glob(path + "/*.csv")
year17 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=False,names=header,skiprows=[0],low_memory=False)
    list_.append(df)
        
year17 = pd.concat(list_, sort=False)

In [ ]:
year17.shape

(16364657, 15)

In [ ]:
year17.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [ ]:
for col in ['start station id', 'end station id']:
    year17[col] = year17[col].astype('float64')
    year17['birth year'] = pd.to_numeric(year16['birth year'], errors='coerce').fillna(0)
    year17['birth year'] = year17['birth year'].astype(np.int64)

In [ ]:
year17.dtypes

In [ ]:
year17.head(5)

In [ ]:
year17.to_csv("/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/files/df_citibike2017.csv")

In [22]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2018"
filesList = glob.glob(path + "/*.csv")
year18 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

year18 = pd.concat(list_, sort=False)
year18.dropna(axis = 1, how ='all', inplace = True)

In [23]:
year18.shape

(9924203, 15)

In [24]:
year18.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [25]:
year18.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [26]:
year18.to_csv("/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/files/df_citibike2018Q3Q4.csv")

In [37]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2019"
filesList = glob.glob(path + "/*.csv")
year19 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

year19 = pd.concat(list_, sort=False)
year19.dropna(axis = 1, how ='all', inplace = True)

In [38]:
year19.shape

(5005085, 15)

In [39]:
year19.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [40]:
year19.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1

In [3]:
# Change data types to combine files from 2014 and 2018
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2014_2018"
filesList = glob.glob(path + "/*.csv")

year = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

year = pd.concat(list_, sort=False)
year.dropna(axis = 1, how ='all', inplace = True) 
    
for col in ['start station id', 'end station id']:
    year[col] = year[col].astype('float64')
    year['birth year'] = pd.to_numeric(year['birth year'], errors='coerce').fillna(0)
    year['birth year'] = year['birth year'].astype(np.int64)

In [4]:
year.shape

(399069, 15)

In [5]:
year.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [6]:
#months 07 and 12 of 2014 and 2018
year.to_csv ("/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/files/df_citibike2014_712.csv")

In [7]:
year.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1257,12/1/2014 00:00:28,12/1/2014 00:21:25,475.0,E 16 St & Irving Pl,40.735243,-73.987586,521.0,8 Ave & W 31 St,40.750450,-73.994811,16047,Customer,0,0
1,275,12/1/2014 00:00:43,12/1/2014 00:05:18,498.0,Broadway & W 32 St,40.748549,-73.988084,546.0,E 30 St & Park Ave S,40.744449,-73.983035,18472,Subscriber,1988,2
2,450,12/1/2014 00:01:22,12/1/2014 00:08:52,444.0,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19589,Subscriber,1983,1
3,1126,12/1/2014 00:02:17,12/1/2014 00:21:03,475.0,E 16 St & Irving Pl,40.735243,-73.987586,521.0,8 Ave & W 31 St,40.750450,-73.994811,21142,Customer,0,0
4,331,12/1/2014 00:02:21,12/1/2014 00:07:52,519.0,Pershing Square North,40.751873,-73.977706,527.0,E 33 St & 2 Ave,40.744023,-73.976056,18679,Subscriber,1986,2

In [8]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/7122014_2018"
filesList = glob.glob(path + "/*.csv")
year1418 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

year1418 = pd.concat(list_, sort=False)
year1418.dropna(axis = 1, how ='all', inplace = True)

In [9]:
year1418.shape

(4298041, 16)

In [10]:
year1418.iloc[-3:]

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1016502,NaN,2376,2018-12-31 23:56:52.8500,2019-01-01 00:36:29.2860,427.0,Bus Slip & State St,40.701907,-74.013942,259.0,South St & Whitehall St,40.701221,-74.012342,34398,Subscriber,1979,1
1016503,NaN,2758,2018-12-31 23:58:29.2120,2019-01-01 00:44:27.5170,3320.0,Central Park West & W 100 St,40.794067,-73.962868,281.0,Grand Army Plaza & Central Park S,40.764397,-73.973715,30818,Customer,1969,0
1016504,NaN,2459,2018-12-31 23:59:51.0850,2019-01-01 00:40:50.8800,128.0,MacDougal St & Prince St,40.727103,-74.002971,402.0,Broadway & E 22 St,40.740343,-73.989551,34775,Subscriber,1996,2

In [137]:
year1418.dtypes

Unnamed: 0                 float64
tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [138]:
names1 = year1418.columns.get_values()

In [139]:
names1

array(['Unnamed: 0', 'tripduration', 'starttime', 'stoptime',
       'start station id', 'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid',
       'usertype', 'birth year', 'gender'], dtype=object)

In [140]:
header= ['tripduration','starttime','stoptime','start station id','start station name',
          'start station latitude', 'start station longitude','end station id','end station name',
          'end station latitude', 'end station longitude','bikeid','usertype', 'birth year','gender']

In [141]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/7122014_2018"
filesList = glob.glob(path + "/*.csv")
year1418 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=False,names=header,skiprows=[0],low_memory=False)
    list_.append(df)
year1418 = pd.concat(list_, sort=False)

In [142]:
year1418.shape

(4298041, 15)