## CitiBike Data Cleaning

In [2]:
import pandas as pd
import numpy as np
import glob
import numpy as np
from datetime import datetime

In [80]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2013"
# python function to match file, directory and file name
filesList = glob.glob(path + "/*.csv")
year13 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

    year13 = pd.concat(list_, sort=False)
    year13.dropna(axis = 1, how ='all', thresh=None, subset=None, inplace = True)

In [82]:
year13.shape

(5037185, 15)

In [83]:
year13.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                  object
gender                       int64
dtype: object

In [84]:
for col in ['start station id', 'end station id']:
    year13[col] = year13[col].astype('float64')
    year13['birth year'] = pd.to_numeric(year13['birth year'], errors='coerce').fillna(0)
    year13['birth year'] = year13['birth year'].astype(np.int64)

In [85]:
year13['starttime']=pd.to_datetime(df['starttime'].astype(str), format='%y/%m/%d', errors='ignore')

In [86]:
year13.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-09-01 00:00:02,2013-07-01 00:10:34,164.0,E 47 St & 2 Ave,40.753231,-73.970325,504.0,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,0,0
1,1547,2013-09-01 00:00:09,2013-07-01 00:25:49,388.0,W 26 St & 10 Ave,40.749718,-74.002950,459.0,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,0,0
2,178,2013-09-01 00:00:16,2013-07-01 00:04:02,293.0,Lafayette St & E 8 St,40.730287,-73.990765,237.0,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-09-01 00:00:18,2013-07-01 00:27:26,531.0,Forsyth St & Broome St,40.718939,-73.992663,499.0,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,0,0
4,757,2013-09-01 00:00:20,2013-07-01 00:13:47,382.0,University Pl & E 14 St,40.734927,-73.992005,410.0,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [87]:
year13.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [88]:
year13['stoptime']=pd.to_datetime(df['stoptime'].astype(str), format='%m/%d/%Y', errors='ignore')

In [89]:
year13['starttime']=pd.to_datetime(df['starttime'].astype(str), format='%m/%d/%Y', errors='ignore')

In [90]:
year13.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-09-01 00:00:02,2013-09-01 00:16:52,164.0,E 47 St & 2 Ave,40.753231,-73.970325,504.0,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,0,0
1,1547,2013-09-01 00:00:09,2013-09-01 00:24:12,388.0,W 26 St & 10 Ave,40.749718,-74.002950,459.0,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,0,0
2,178,2013-09-01 00:00:16,2013-09-01 00:23:23,293.0,Lafayette St & E 8 St,40.730287,-73.990765,237.0,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-09-01 00:00:18,2013-09-01 00:07:03,531.0,Forsyth St & Broome St,40.718939,-73.992663,499.0,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,0,0
4,757,2013-09-01 00:00:20,2013-09-01 00:04:50,382.0,University Pl & E 14 St,40.734927,-73.992005,410.0,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [91]:
year13.to_csv("/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/files/df_citibike2013.csv", index=False)

In [82]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2014"
filesList = glob.glob(path + "/*.csv")
year14 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

year14 = pd.concat(list_, sort=False)
year14.dropna(axis = 1, how ='all', thresh=None, subset=None, inplace = True)

In [83]:
year14.shape

(8081216, 15)

In [84]:
year14.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1027,10/1/2014 00:00:27,10/1/2014 00:17:34,479,9 Ave & W 45 St,40.760193,-73.991255,540,Lexington Ave & E 26 St,40.741473,-73.983209,21376,Subscriber,1977,1
1,534,10/1/2014 00:00:36,10/1/2014 00:09:30,417,Barclay St & Church St,40.712912,-74.010202,417,Barclay St & Church St,40.712912,-74.010202,16086,Subscriber,1974,2
2,416,10/1/2014 00:00:42,10/1/2014 00:07:38,327,Vesey Pl & River Terrace,40.715338,-74.016584,415,Pearl St & Hanover Square,40.704718,-74.009260,16073,Subscriber,1990,1
3,428,10/1/2014 00:00:50,10/1/2014 00:07:58,515,W 43 St & 10 Ave,40.760094,-73.994618,447,8 Ave & W 52 St,40.763707,-73.985162,18635,Subscriber,1966,1
4,281,10/1/2014 00:01:08,10/1/2014 00:05:49,497,E 17 St & Broadway,40.737050,-73.990093,537,Lexington Ave & E 24 St,40.740259,-73.984092,20203,Subscriber,1979,1

In [85]:
year14.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                  object
gender                       int64
dtype: object

In [86]:
for col in ['start station id', 'end station id']:
    year14[col] = year14[col].astype('float64')
    year14['birth year'] = pd.to_numeric(year14['birth year'], errors='coerce').fillna(0)
    year14['birth year'] = year14['birth year'].astype(np.int64)
    year14['starttime']=pd.to_datetime(df['starttime'].astype(str), format='%m/%d/%Y', errors='ignore')
    year14['stoptime']=pd.to_datetime(df['stoptime'].astype(str), format='%m/%d/%Y', errors='ignore')

In [87]:
year14.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [88]:
year14.to_csv("/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/files/df_citibike2014.csv",index=False)

In [89]:
year14.to_csv?

In [90]:
year14.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1027,9/1/2014 00:00:25,9/1/2014 00:47:33,479.0,9 Ave & W 45 St,40.760193,-73.991255,540.0,Lexington Ave & E 26 St,40.741473,-73.983209,21376,Subscriber,1977,1
1,534,9/1/2014 00:00:28,9/1/2014 00:06:36,417.0,Barclay St & Church St,40.712912,-74.010202,417.0,Barclay St & Church St,40.712912,-74.010202,16086,Subscriber,1974,2
2,416,9/1/2014 00:00:40,9/1/2014 00:37:21,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,415.0,Pearl St & Hanover Square,40.704718,-74.009260,16073,Subscriber,1990,1
3,428,9/1/2014 00:00:41,9/1/2014 00:06:03,515.0,W 43 St & 10 Ave,40.760094,-73.994618,447.0,8 Ave & W 52 St,40.763707,-73.985162,18635,Subscriber,1966,1
4,281,9/1/2014 00:00:59,9/1/2014 00:29:12,497.0,E 17 St & Broadway,40.737050,-73.990093,537.0,Lexington Ave & E 24 St,40.740259,-73.984092,20203,Subscriber,1979,1

In [217]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2015"
filesList = glob.glob(path + "/*.csv")
year15 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

year15 = pd.concat(list_, sort=False)
year15.dropna(axis = 1, how ='all', inplace = True)

In [218]:
year15.shape

(9937969, 15)

In [219]:
year15.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,732,7/1/2015 00:00:03,7/1/2015 00:12:16,489,10 Ave & W 28 St,40.750664,-74.001768,368,Carmine St & 6 Ave,40.730386,-74.002150,18669,Subscriber,1970.0,1
1,322,7/1/2015 00:00:06,7/1/2015 00:05:29,304,Broadway & Battery Pl,40.704633,-74.013617,3002,South End Ave & Liberty St,40.711512,-74.015756,14618,Subscriber,1984.0,1
2,790,7/1/2015 00:00:17,7/1/2015 00:13:28,447,8 Ave & W 52 St,40.763707,-73.985162,358,Christopher St & Greenwich St,40.732916,-74.007114,18801,Subscriber,1992.0,1
3,1228,7/1/2015 00:00:23,7/1/2015 00:20:51,490,8 Ave & W 33 St,40.751551,-73.993934,250,Lafayette St & Jersey St,40.724561,-73.995653,19137,Subscriber,1990.0,1
4,1383,7/1/2015 00:00:44,7/1/2015 00:23:48,327,Vesey Pl & River Terrace,40.715338,-74.016584,72,W 52 St & 11 Ave,40.767272,-73.993929,15808,Subscriber,1988.0,1

In [220]:
for col in ['start station id', 'end station id']:
    year15[col] = year15[col].astype('float64')
    year15['birth year'] = pd.to_numeric(year15['birth year'], errors='coerce').fillna(0)
    year15['birth year'] = year15['birth year'].astype(np.int64)

In [221]:
year15.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [222]:
year15.to_csv("/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/files/df_citibike2015.csv")

In [11]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2016"
filesList = glob.glob(path + "/*.csv")
year16 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

year16 = pd.concat(list_, sort=False)

In [12]:
year16.shape

(13845655, 30)

In [13]:
names = year16.columns.get_values()

In [14]:
names

array(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID',
       'User Type', 'Birth Year', 'Gender', 'tripduration', 'starttime',
       'stoptime', 'start station id', 'start station name',
       'start station latitude', 'start station longitude',
       'end station id', 'end station name', 'end station latitude',
       'end station longitude', 'bikeid', 'usertype', 'birth year',
       'gender'], dtype=object)

In [15]:
header= ['tripduration','starttime','stoptime','start station id','start station name',
          'start station latitude', 'start station longitude','end station id','end station name',
          'end station latitude', 'end station longitude','bikeid','usertype', 'birth year','gender']

In [17]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2016"
filesList = glob.glob(path + "/*.csv")
year16 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, names=header,skiprows=[0],low_memory=False)

    list_.append(df)
year16 = pd.concat(list_, sort=False)



for col in ['start station id', 'end station id']:
    year16[col] = year16[col].astype('float64')
    year16['birth year'] = pd.to_numeric(year16['birth year'], errors='coerce').fillna(0)
    year16['birth year'] = year16['birth year'].astype(np.int64)

In [18]:
year16.shape

(13845655, 15)

In [19]:
year16.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [20]:
year16.to_csv("/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/files/df_citibike2016.csv")

In [ ]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2017"

filesList = glob.glob(path + "/*.csv")
year17 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=False,names=header,skiprows=[0],low_memory=False)
    list_.append(df)
        
year17 = pd.concat(list_, sort=False)

In [ ]:
year17.shape

(16364657, 15)

In [ ]:
year17.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [ ]:
for col in ['start station id', 'end station id']:
    year17[col] = year17[col].astype('float64')
    year17['birth year'] = pd.to_numeric(year16['birth year'], errors='coerce').fillna(0)
    year17['birth year'] = year17['birth year'].astype(np.int64)

In [ ]:
year17.dtypes

In [ ]:
year17.head(5)

In [ ]:
year17.to_csv("/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/files/df_citibike2017.csv")

In [22]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2018"
filesList = glob.glob(path + "/*.csv")
year18 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

year18 = pd.concat(list_, sort=False)
year18.dropna(axis = 1, how ='all', inplace = True)

In [23]:
year18.shape

(9924203, 15)

In [24]:
year18.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [25]:
year18.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [26]:
year18.to_csv("/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/files/df_citibike2018Q3Q4.csv")

In [37]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2019"
filesList = glob.glob(path + "/*.csv")
year19 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

year19 = pd.concat(list_, sort=False)
year19.dropna(axis = 1, how ='all', inplace = True)

In [38]:
year19.shape

(5005085, 15)

In [39]:
year19.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [40]:
year19.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1

In [3]:
# Change data types to combine files from 2014 and 2018
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/2014_2018"
filesList = glob.glob(path + "/*.csv")

year = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

year = pd.concat(list_, sort=False)
year.dropna(axis = 1, how ='all', inplace = True) 
    
for col in ['start station id', 'end station id']:
    year[col] = year[col].astype('float64')
    year['birth year'] = pd.to_numeric(year['birth year'], errors='coerce').fillna(0)
    year['birth year'] = year['birth year'].astype(np.int64)

In [4]:
year.shape

(399069, 15)

In [5]:
year.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [6]:
#months 07 and 12 of 2014 and 2018
year.to_csv ("/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/files/df_citibike2014_712.csv")

In [7]:
year.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1257,12/1/2014 00:00:28,12/1/2014 00:21:25,475.0,E 16 St & Irving Pl,40.735243,-73.987586,521.0,8 Ave & W 31 St,40.750450,-73.994811,16047,Customer,0,0
1,275,12/1/2014 00:00:43,12/1/2014 00:05:18,498.0,Broadway & W 32 St,40.748549,-73.988084,546.0,E 30 St & Park Ave S,40.744449,-73.983035,18472,Subscriber,1988,2
2,450,12/1/2014 00:01:22,12/1/2014 00:08:52,444.0,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19589,Subscriber,1983,1
3,1126,12/1/2014 00:02:17,12/1/2014 00:21:03,475.0,E 16 St & Irving Pl,40.735243,-73.987586,521.0,8 Ave & W 31 St,40.750450,-73.994811,21142,Customer,0,0
4,331,12/1/2014 00:02:21,12/1/2014 00:07:52,519.0,Pershing Square North,40.751873,-73.977706,527.0,E 33 St & 2 Ave,40.744023,-73.976056,18679,Subscriber,1986,2

In [8]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/7122014_2018"
filesList = glob.glob(path + "/*.csv")
year1418 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

year1418 = pd.concat(list_, sort=False)
year1418.dropna(axis = 1, how ='all', inplace = True)

In [9]:
year1418.shape

(4298041, 16)

In [10]:
year1418.iloc[-3:]

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1016502,NaN,2376,2018-12-31 23:56:52.8500,2019-01-01 00:36:29.2860,427.0,Bus Slip & State St,40.701907,-74.013942,259.0,South St & Whitehall St,40.701221,-74.012342,34398,Subscriber,1979,1
1016503,NaN,2758,2018-12-31 23:58:29.2120,2019-01-01 00:44:27.5170,3320.0,Central Park West & W 100 St,40.794067,-73.962868,281.0,Grand Army Plaza & Central Park S,40.764397,-73.973715,30818,Customer,1969,0
1016504,NaN,2459,2018-12-31 23:59:51.0850,2019-01-01 00:40:50.8800,128.0,MacDougal St & Prince St,40.727103,-74.002971,402.0,Broadway & E 22 St,40.740343,-73.989551,34775,Subscriber,1996,2

In [137]:
year1418.dtypes

Unnamed: 0                 float64
tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [138]:
names1 = year1418.columns.get_values()

In [139]:
names1

array(['Unnamed: 0', 'tripduration', 'starttime', 'stoptime',
       'start station id', 'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid',
       'usertype', 'birth year', 'gender'], dtype=object)

In [140]:
header= ['tripduration','starttime','stoptime','start station id','start station name',
          'start station latitude', 'start station longitude','end station id','end station name',
          'end station latitude', 'end station longitude','bikeid','usertype', 'birth year','gender']

In [141]:
path =  "/Users/lucianamatera/Desktop/20-Tableau/Homework/Instructions/7122014_2018"
filesList = glob.glob(path + "/*.csv")
year1418 = pd.DataFrame()
list_ = []
for file_ in filesList:
    df = pd.read_csv(file_,index_col=False,names=header,skiprows=[0],low_memory=False)
    list_.append(df)
year1418 = pd.concat(list_, sort=False)

In [142]:
year1418.shape

(4298041, 15)

In [39]:
pd.read_csv('citibike_201401.csv')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,471,2014-01-01 00:00:06,2014-01-01 00:07:57,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,Subscriber,1986,1
1,1494,2014-01-01 00:00:38,2014-01-01 00:25:32,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,Subscriber,1963,1
2,464,2014-01-01 00:03:59,2014-01-01 00:11:43,228,E 48 St & 3 Ave,40.754601,-73.971879,2022,E 59 St & Sutton Pl,40.758491,-73.959206,16613,Subscriber,1991,1
3,373,2014-01-01 00:05:15,2014-01-01 00:11:28,519,Pershing Square N,40.751884,-73.977702,526,E 33 St & 5 Ave,40.747659,-73.984907,15938,Subscriber,1989,1
4,660,2014-01-01 00:05:18,2014-01-01 00:16:18,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,436,Hancock St & Bedford Ave,40.682166,-73.953990,19830,Subscriber,1990,1
5,330,2014-01-01 00:05:55,2014-01-01 00:11:25,422,W 59 St & 10 Ave,40.770513,-73.988038,526,E 33 St & 5 Ave,40.747659,-73.984907,17343,Subscriber,1987,1
6,261,2014-01-01 00:06:04,2014-01-01 00:10:25,516,E 47 St & 1 Ave,40.752069,-73.967844,167,E 39 St & 3 Ave,40.748901,-73.976049,17880,Subscriber,1983,1
7,337,2014-01-01 00:06:41,2014-01-01 00:12:18,380,W 4 St & 7 Ave S,40.734011,-74.002939,435,W 21 St & 6 Ave,40.741740,-73.994156,16275,Subscriber,1963,1
8,429,2014-01-01 00:07:33,2014-01-01 00:14:42,296,Division St & Bowery,40.714131,-73.997047,306,Cliff St & Fulton St,40.708235,-74.005301,17318,Subscriber,1972,2
9,1025,2014-01-01 00:08:27,2014-01-01 00:25:32,540,Lexington Ave & E 26 St,40.741473,-73.983209,447,8 Ave & W 52 St,40.763707,-73.985162,15525,Subscriber,1981,1
10,718,2014-01-01 00:09:32,2014-01-01 00:21:30,263,Elizabeth St & Hester St,40.717290,-73.996375,251,Mott St & Prince St,40.723180,-73.994800,15693,Customer,\N,0
11,786,2014-01-01 00:10:59,2014-01-01 00:24:05,153,E 40 St & 5 Ave,40.752062,-73.981632,290,2 Ave & E 58 St,40.760203,-73.964785,15281,Subscriber,1968,1
12,267,2014-01-01 00:11:17,2014-01-01 00:15:44,151,Cleveland Pl & Spring St,40.721816,-73.997203,410,Suffolk St & Stanton St,40.720664,-73.985180,15159,Subscriber,1983,1
13,744,2014-01-01 00:12:23,2014-01-01 00:24:47,450,W 49 St & 8 Ave,40.762272,-73.987882,505,6 Ave & W 33 St,40.749013,-73.988484,15157,Subscriber,1976,1
14,704,2014-01-01 00:12:25,2014-01-01 00:24:09,331,Pike St & Monroe St,40.711731,-73.991930,195,Liberty St & Broadway,40.709056,-74.010434,17080,Subscriber,1980,2
15,1367,2014-01-01 00:12:47,2014-01-01 00:35:34,519,Pershing Square N,40.751884,-73.977702,386,Centre St & Worth St,40.714948,-74.002345,20731,Customer,\N,0
16,327,2014-01-01 00:13:11,2014-01-01 00:18:38,502,Henry St & Grand St,40.714215,-73.981346,411,E 6 St & Avenue D,40.722281,-73.976687,15655,Subscriber,1973,2
17,223,2014-01-01 00:15:30,2014-01-01 00:19:13,528,2 Ave & E 31 St,40.742909,-73.977061,518,E 39 St & 2 Ave,40.747804,-73.973442,15737,Subscriber,1982,1
18,577,2014-01-01 00:16:04,2014-01-01 00:25:41,467,Dean St & 4 Ave,40.683125,-73.978951,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,16115,Subscriber,1983,1
19,566,2014-01-01 00:16:13,2014-01-01 00:25:39,467,Dean St & 4 Ave,40.683125,-73.978951,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,15753,Subscriber,1983,2
20,637,2014-01-01 00:16:32,2014-01-01 00:27:09,285,Broadway & E 14 St,40.734546,-73.990741,505,6 Ave & W 33 St,40.749013,-73.988484,15440,Subscriber,1981,1
21,513,2014-01-01 00:16:38,2014-01-01 00:25:11,382,University Pl & E 14 St,40.734927,-73.992005,401,Allen St & Rivington St,40.720196,-73.989978,14650,Subscriber,1990,1
22,430,2014-01-01 00:18:47,2014-01-01 00:25:57,285,Broadway & E 14 St,40.734546,-73.990741,380,W 4 St & 7 Ave S,40.734011,-74.002939,19415,Subscriber,1971,2
23,837,2014-01-01 00:18:54,2014-01-01 00:32:51,488,W 39 St & 9 Ave,40.756458,-73.993722,380,W 4 St & 7 Ave S,40.734011,-74.002939,16827,Subscriber,1963,1
24,834,2014-01-01 00:19:03,2014-01-01 00:32:57,488,W 39 St & 9 Ave,40.756458,-73.993722,380,W 4 St & 7 Ave S,40.734011,-74.002939,20280,Subscriber,1963,1
25,387,2014-01-01 00:19:25,2014-01-01 00:25:52,401,Allen St & Rivington St,40.720196,-73.989978,342,Columbia St & Rivington St,40.717400,-73.980166,16776,Subscriber,1981,1
26,1191,2014-01-01 00:21:51,2014-01-01 00:41:42,251,Mott St & Prince St,40.723180,-73.994800,404,9 Ave & W 14 St,40.740583,-74.005509,15693,Customer,\N,0
27,601,2014-01-01 00:22:05,2014-01-01 00:32:06,507,E 25 St & 2 Ave,40.739126,-73.979738,150,E 2 St & Avenue C,40.720874,-73.980858,19260,Subscriber,1986,1
28,128,2014-01-01 00:22:29,2014-01-01 00:24:37,380,W 4 St & 7 Ave S,40.734011,-74.002939,380,W 4 St & 7 Ave S,40.734011,-74.002939,20001,Subscriber,1984,1
29,170,2014-01-01 00:22:36,2014-01-01 00:25:26,116,W 17 St & 8 Ave,40.741776,-74.001497,404,9 Ave & W 14 St,40.740583,-74.005509,18005,Subscriber,1986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300370,555,2014-01-31 23:51:41,2014-02-01 00:00:56,310,State St & Smith St,40.689269,-73.989129,467,Dean St & 4 Ave,40.683125,-73.978951,19770,Subscriber,1984,2
300371,662,2014-01-31 23:51:57,2014-02-01 00:02:59,352,W 56 St & 6 Ave,40.763406,-73.977225,479,9 Ave & W 45 St,40.760193,-73.991255,19509,Subscriber,1956,1
300372,864,2014-01-31 23:51:59,2014-02-01 00:06:23,515,W 43 St & 10 Ave,40.760094,-73.994618,463,9 Ave & W 16 St,40.742065,-74.004432,20845,Subscriber,1989,2
300373,1594,2014-01-31 23:52:10,2014-02-01 00:18:44,509,9 Ave & W 22 St,40.745497,-74.001971,508,W 46 St & 11 Ave,40.763414,-73.996674,15200,Subscriber,1979,1
300374,419,2014-01-31 23:52:13,2014-01-31 23:59:12,470,W 20 St & 8 Ave,40.743453,-74.000040,168,W 18 St & 6 Ave,40.739713,-73.994564,17500,Subscriber,1976,1
300375,756,2014-01-31 23:52:23,2014-02-01 00:04:59,432,E 7 St & Avenue A,40.726218,-73.983799,408,Market St & Cherry St,40.710762,-73.994004,19976,Subscriber,1988,1
300376,317,2014-01-31 23:52:48,2014-01-31 23:58:05,504,1 Ave & E 15 St,40.732219,-73.981656,483,E 12 St & 3 Ave,40.732233,-73.988900,17927,Subscriber,1977,1
300377,1122,2014-01-31 23:53:36,2014-02-01 00:12:18,509,9 Ave & W 22 St,40.745497,-74.001971,495,W 47 St & 10 Ave,40.762699,-73.993012,17861,Subscriber,1976,1
300378,1011,2014-01-31 23:53:55,2014-02-01 00:10:46,432,E 7 St & Avenue A,40.726218,-73.983799,247,Perry St & Bleecker St,40.735354,-74.004831,16295,Subscriber,1987,1
300379,638,2014-01-31 23:54:28,2014-02-01 00:05:06,236,St Marks Pl & 2 Ave,40.728419,-73.987140,285,Broadway & E 14 St,40.734546,-73.990741,19764,Subscriber,1991,1
300380,142,2014-01-31 23:54:43,2014-01-31 23:57:05,412,Forsyth St & Canal St,40.715816,-73.994224,295,Pike St & E Broadway,40.714067,-73.992939,20143,Subscriber,1988,1
300381,197,2014-01-31 23:54:50,2014-01-31 23:58:07,301,E 2 St & Avenue B,40.722174,-73.983688,511,E 14 St & Avenue B,40.729387,-73.977724,16720,Subscriber,1987,1
300382,664,2014-01-31 23:54:55,2014-02-01 00:05:59,160,E 37 St & Lexington Ave,40.748238,-73.978311,285,Broadway & E 14 St,40.734546,-73.990741,16672,Subscriber,1960,1
300383,906,2014-01-31 23:55:27,2014-02-01 00:10:33,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,409,DeKalb Ave & Skillman St,40.690649,-73.956431,19542,Subscriber,1980,1
300384,314,2014-01-31 23:55:51,2014-02-01 00:01:05,312,Allen St & E Houston St,40.722055,-73.989111,393,E 5 St & Avenue C,40.722992,-73.979955,20552,Subscriber,1970,2
300385,315,2014-01-31 23:56:09,2014-02-01 00:01:24,316,Fulton St & William St,40.709560,-74.006536,415,Pearl St & Hanover Square,40.704718,-74.009260,20265,Subscriber,1972,1
300386,368,2014-01-31 23:56:09,2014-02-01 00:02:17,483,E 12 St & 3 Ave,40.732233,-73.988900,294,Washington Square E,40.730494,-73.995721,14620,Subscriber,1941,1
300387,508,2014-01-31 23:56:10,2014-02-01 00:04:38,160,E 37 St & Lexington Ave,40.748238,-73.978311,325,E 19 St & 3 Ave,40.736245,-73.984738,17651,Subscriber,1959,1
300388,231,2014-01-31 23:56:19,2014-02-01 00:00:10,237,E 11 St & 2 Ave,40.730473,-73.986724,357,E 11 St & Broadway,40.732618,-73.991580,19175,Subscriber,1981,1
300389,570,2014-01-31 23:56:29,2014-02-01 00:05:59,295,Pike St & E Broadway,40.714067,-73.992939,341,Stanton St & Mangin St,40.717821,-73.976289,19858,Subscriber,1964,1
300390,805,2014-01-31 23:56:47,2014-02-01 00:10:12,346,Bank St & Hudson St,40.736529,-74.006180,128,MacDougal St & Prince St,40.727103,-74.002971,14862,Subscriber,1980,2
300391,1006,2014-01-31 23:57:07,2014-02-01 00:13:53,505,6 Ave & W 33 St,40.749013,-73.988484,470,W 20 St & 8 Ave,40.743453,-74.000040,16533,Subscriber,1982,2
300392,533,2014-01-31 23:57:07,2014-02-01 00:06:00,168,W 18 St & 6 Ave,40.739713,-73.994564,293,Lafayette St & E 8 St,40.730287,-73.990765,19003,Subscriber,1989,2
300393,604,2014-01-31 23:57:09,2014-02-01 00:07:13,380,W 4 St & 7 Ave S,40.734011,-74.002939,433,E 13 St & Avenue A,40.729554,-73.980572,20529,Subscriber,1975,1
300394,676,2014-01-31 23:57:11,2014-02-01 00:08:27,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,344,Monroe St & Bedford Ave,40.685144,-73.953809,17438,Subscriber,1977,1
300395,780,2014-01-31 23:57:34,2014-02-01 00:10:34,308,St James Pl & Oliver St,40.713079,-73.998512,312,Allen St & E Houston St,40.722055,-73.989111,17299,Subscriber,1988,1
300396,1074,2014-01-31 23:57:45,2014-02-01 00:15:39,482,W 15 St & 7 Ave,40.739355,-73.999318,488,W 39 St & 9 Ave,40.756458,-73.993722,19886,Subscriber,1982,1
300397,191,2014-01-31 23:58:16,2014-02-01 00:01:27,247,Perry St & Bleecker St,40.735354,-74.004831,368,Carmine St & 6 Ave,40.730386,-74.002150,20249,Subscriber,1969,2
300398,1052,2014-01-31 23:58:34,2014-02-01 00:16:06,482,W 15 St & 7 Ave,40.739355,-73.999318,488,W 39 St & 9 Ave,40.756458,-73.993722,19922,Subscriber,1981,2
300399,1133,2014-01-31 23:58:43,2014-02-01 00:17:36,450,W 49 St & 8 Ave,40.762272,-73.987882,294,Washington Square E,40.730494,-73.995721,18944,Subscriber,1969,1